* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("img_table.png");
  background-size: 400px 200px;
  width: 250px;
  height: 200px;
  background-position: center;
  font-weight: bold;
  font-size: small;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: goldenrod;
  margin-top: 10px;
  margin-bottom: 10px;
}

#message-el {
  font-style: italic;
  margin-bottom: 5px;
}

#cards-el {
  margin-bottom: 3px;
}

#sum-el {
  margin-bottom: 5px;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#player-el {
  margin-top: 10px;
}
